@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./font-faces.css");

body {
  font-family: PeydaWeb !important;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none !important;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  outline: none;
  user-select: none;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

/* direction */

.dirRtl {
  direction: rtl !important;
}

.dirLtr {
  direction: ltr !important;
}

.click_Effect {
  cursor: pointer;
  &:active {
    transform: scale(0.95);
  }
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}

.swipeable-x {
  -webkit-overflow-scrolling: touch;
}
